<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
        <br>
    {% endfor %}
    <input type="submit" name="Submit">
</form>
</body>
</html>